<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <!-- <div class="container">     -->
    <div class="homepage">
        <div class="section">
            <a href="/signin"><span class="btn btn-danger">Login</span></a>
            <a href="/signup"><span class="btn btn-primary">Create Account</span></a>
        </div>
        <div class="heading">
            <h1>Hii Bloggers!</h1>
        </div>
        <div class="para">
            <p>"The best time to plant a tree was 20 years ago. The second best time is today," "What you do after you
                create your content is what truly counts," "A blog is only as interesting as the interest shown in
                others," and "The more you know about your audience, the more chance you have at making content that
                resonates.</p>
        </div>
    </div>







    <%- include("./partials/script.ejs") %>
        <!-- </div> -->
</body>

</html>